
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Great+Vibes&family=Nunito+Sans:wght@200&family=Quicksand:wght@500&family=Rubik+Moonrocks&family=Smooch&family=Ubuntu&display=swap');


.titrefo{
  font-family: 'Grape Nuts', cursive;
  font-family: 'Great Vibes', cursive;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Rubik Moonrocks', cursive;
  font-family: 'Smooch', cursive;
  font-family: 'Ubuntu', sans-serif;

}
